<br><br><div class="row">
	<span class="spot-info glyphicon glyphicon-map-marker col-xs-12"><span class="default-font-family">&nbsp;<%= @spot.address %></span></span><br><br>
	<span class="spot-info glyphicon glyphicon-star col-xs-12"><span class="default-font-family">&nbsp;<%= @spot.level %></span></span>
</div><br><br>
<img class="spot-photo" src="<%= @spot.photo %>">

<h2 class="logo">Videos</h2><br>

<div class="row">
	<% @spot_tricks.each do |spot_trick| %>
		<div class="trick panel panel-default">
			<div class="panel-body">
				<iframe class="trick-video" src="<%= spot_trick.video %>/embed/simple"></iframe>
			</div>
			<div class="panel-footer">
				<% if current_skater %>
					<% if trick_rated? spot_trick %>
						<p>You have already rated this trick</p>
					<% else %>
						<div class="hearts-container">
							<% for i in 1..5 %>			
								<img class="hearts" src="/skateHeartBW.png" data-spot-id="<%= spot_trick.spot_id %>" data-trick-id="<%= spot_trick.id %>" data-hearts="<%= i %>">
							<% end %>
						</div>						
					<% end %>
				<% else %>
					<span>You need to <a href="<%= login_path %>">login</a> in order to rate a video</span>
				<% end %>
			</div>
		</div>
		<div class="trick-info">
			<span class="label label-info default-font-size skater-trick glyphicon glyphicon-user"> <%= skater_name spot_trick.skater_id %></span>
			<% if spot_trick.average_rating != nil %>
				<span class="label label-danger default-font-size trick-rating glyphicon glyphicon-heart"> <%= spot_trick.average_rating %></span>
			<% end %>	
		</div><br><br><br><br>
	<% end %>
</div>

<% if current_skater %>
	<div data-toggle="modal" data-target="#myModal2" class="action-elements new-trick-button" data-spot-id="<%= @spot.id %>">ADD VIDEO</div>
<% else %>
	<span>You need to <a href="<%= login_path %>">login</a> in order to add a video</span>
<% end %><br><br>