<div class="panel panel-default panel-correction">
	<div class="panel-body">
		<img class="spot-photo" src="<%= @spot.photo %>"><br><br>
	</div>
</div><br>
<ul class="list-group" style="display:inline-block">
  <li class="list-group-item">Address: <%= @spot.address %></li>
  <li class="list-group-item">Skaters level: <%= @spot.level %></li>
  <li class="list-group-item">Floor quality: <%= @spot.floor_quality %></li>
  <li class="list-group-item">Teachers: <%= @spot.teachers %></li>
</ul>
<br>
<% @spot_tricks.each do |spot_trick| %>
<div class="panel panel-default panel-correction">
	<div class="panel-body">
	<iframe class="tricks" src="<%= spot_trick.video %>/embed/simple" width="600" height="600" frameborder="0"></iframe><br>
	</div>
	<div class="panel-footer">
	<% if session[:id] %>
		<% @rated = false %>
		<% @ratings = spot_trick.ratings %>

		<% @ratings.each do |rating| %>
			<% if rating.skater_id === session[:id] %>
				<% @rated = true %>
			<% end %>
		<% end %>

		<% if @rated === false %>
			<div class="hearts-container">
			<% for i in 1..5 %>
			
			<img class="hearts" src="<%= asset_path('skateHeartBW.png') %>" data-spot-id="<%= spot_trick.spot_id %>" data-trick-id="<%= spot_trick.id %>" data-hearts="<%= i %>" data-selected="no">
			
			<% end %>
			</div>
		<% else %>
			<p>You have already rated this trick</p>
		<% end %>
	<% else %>
		<span>You need to <a href="<%= login_path %>">login</a> in order to rate a trick</span>
	<% end %>
	</div>
</div><br>
<% end %>
<br>
<% if session[:id] %>
	<a href="<%= new_skater_trick_path(session[:id]) %>?spot_id=<%= @spot.id %>"><div class="navigation-elements">New trick</div></a>
<% else %>
	<span>You need to <a href="<%= login_path %>">login</a> in order to add a trick</span>
<% end %><br><br>