<h2><%= @jam.name %></h2><br>
<ul class="list-group" style="display:inline-block">
  <li class="list-group-item"><a href="/spots/<%= @spot.id %>"><img class="spot-photo" src="<%= @spot.photo %>"></a></li>
  <li class="list-group-item">Date: <%= @jam.date %></li>
  <li class="list-group-item">Hour: <%= @jam.time %></li>
  <li class="list-group-item">Info: <%= @jam.info %></li>
</ul>
<br>

<h2>Skaters</h2><br>
<ul class="list-group" style="display:inline-block">
<% @skaters.each do |skater| %>
	<li class="list-group-item">
		<%= skater.name %>
	</li>
<% end %>
</ul><br><br>

<a href="/jams/<%= @jam.id %>/skaters"><div class="navigation-elements">Join</div></a>