<br><div class="challenges-nav">
  <!-- Nav tabs -->
  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active"><a href="#pending" aria-controls="pending" role="tab" data-toggle="tab">Pending</a></li>
    <li role="presentation"><a href="#completed" aria-controls="completed" role="tab" data-toggle="tab">Completed</a></li>
    <li role="presentation"><a href="#to-check" aria-controls="to-check" role="tab" data-toggle="tab">To check</a></li>
  </ul>
  <!-- Tab panes -->
  <div class="tab-content">
    <div role="tabpanel" class="tab-pane fade in active" id="pending"><br>
		
			<% @pending_challenges.each do |pending_challenge| %>
					<span class="label label-success span-correction"><%= pending_challenge.challenge %></span>&nbsp;&nbsp;Challenged by <%= Skater.find(pending_challenge.challenger_id).name %>&nbsp;&nbsp;
					<div data-toggle="modal" data-target="#myModal3" class="navigation-elements" data-skater-id="<%= session[:id] %>" data-spot-id="<%= pending_challenge.challenge_spot %>" data-challenge-id="<%= pending_challenge.id %>">TRY</div><br><br>
					<!-- <a href="/skaters/<%= session[:id] %>/tricks/new?spot_id=<%= pending_challenge.challenge_spot %>&challenge_id=<%= pending_challenge.id %>">Try!</a> -->
				
			<% end %>
		
    </div>
    <div role="tabpanel" class="tab-pane fade" id="completed"><br>
    	
    	<% @challenges_completed.each do |challenge_completed| %>
    		
    			<span class="label label-success span-correction"><%= challenge_completed.challenge %></span><br><br>
    		
    	<% end %>
    	
    </div>
    <div role="tabpanel" class="tab-pane fade" id="to-check"><br>
    	<% @challenges_to_check.each do |challenge_to_check| %>
    	<% if Trick.where(challenge_id: challenge_to_check.id).first %>
			<div class="panel panel-default panel-correction" data-challenge-id="<%= challenge_to_check.id %>">
				<div class="panel-title"><br>
					<span class="label label-success span-correction"><%= challenge_to_check.challenge %> of <%= Skater.find(challenge_to_check.skater_id).name %></span>
				</div>
				<div class="panel-body">
					<iframe class="tricks" src="<%= Trick.where(challenge_id: challenge_to_check.id).first.video %>/embed/simple" width="600" height="600" frameborder="0"></iframe>					
				</div>
				<div class="panel-footer">
					<div class="btn-group">
						<button type="button" class="btn btn-default" data-action="check-attempt">Bad</button>
						<button type="button" class="btn btn-default" data-action="check-attempt">Good</button>
						<button type="button" class="btn btn-default" data-action="check-attempt">Awesome</button>
			  		</div>
				</div>
			</div><br>
		<% end %>
		<% end %>
    </div>
  </div>
</div>