<!DOCTYPE html>
<html>
	<head>
	  <title>SKATE OR BYE!</title>
	  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
	  <%= stylesheet_link_tag 'application', media: 'all' %>
	  <%= csrf_meta_tags %>
	  <meta name="viewport" content="width=device-width, initial-scale=1">
	</head>
	<body>
		<!-- Challenge a friend modal -->
		<div class="modal fade" id="myModal" tabindex="-1" role="dialog">
		  <div class="modal-dialog modal-lg" role="document">
		    <div class="modal-content">
		      <div class="modal-header">
		        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span></button>
		        <h4 class="modal-title" id="myModalLabel">Challenge a friend!</h4>
		      </div>
		      <div class="modal-body">
		      	<div class="btn-group challenge-skaters">
  			  	</div><br><br>
		      	<div class="challenge-spots">
  			  	</div><br>
  			  	<div class="challenge-challenge">
  			  		<input type="text" class="form-control input-correction" id="challenge-trick" placeholder="Trick he has to do"><br><br>					
  			  	</div>  			  	
			  </div>
		      <div class="modal-footer footer-correction">
		        <button type="button" class="btn btn-primary" data-dismiss="modal" data-action="add-challenge" data-challenger-id="<%= session[:id] %>" >CHALLENGE</button>
		      </div>
		    </div>
		  </div>
		</div>
		<!-- Upload your trick modal -->
		<div class="modal fade" id="myModal2" tabindex="-1" role="dialog">
		  <div class="modal-dialog modal-lg" role="document">
		    <div class="modal-content">
		      <div class="modal-header">
		        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span></button>
		        <h4 class="modal-title" id="myModalLabel">Share an awesome video!</h4>
		      </div>
		      <div class="modal-body">
		      	<input type="text" class="form-control input-correction" id="trick-video" placeholder="URL of your Vine video"><br>
			  </div>
		      <div class="modal-footer footer-correction">
		        <button type="button" class="btn btn-primary" data-action="upload-trick" data-skater-id="<%= session[:id] %>" data-dismiss="modal">SHARE</button>
		      </div>
		    </div>
		  </div>
		</div>
		<!-- Upload your attempt modal -->
		<div class="modal fade" id="myModal3" tabindex="-1" role="dialog">
		  <div class="modal-dialog modal-lg" role="document">
		    <div class="modal-content">
		      <div class="modal-header">
		        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span></button>
		        <h4 class="modal-title" id="myModalLabel">Try the challenge!</h4>
		      </div>
		      <div class="modal-body">
		      	<input type="text" class="form-control input-correction" id="attempt-video" placeholder="URL of your Vine video"><br>					
			  </div>
		      <div class="modal-footer footer-correction">
		        <button type="button" class="btn btn-primary" data-action="upload-attempt" data-dismiss="modal">TRY</button>
		      </div>
		    </div>
		  </div>
		</div>
		<!-- Join jam modal -->
		<div class="modal fade" id="myModal4" tabindex="-1" role="dialog">
		  <div class="modal-dialog modal-lg" role="document">
		    <div class="modal-content">
		      <div class="modal-header">
		        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span></button>
		        <h4 class="modal-title" id="myModalLabel">Join meeting as a...</h4>
		      </div>
		      <div class="modal-body">
		      	<div class="btn-group challenge-skaters">
		      		<button type="button" class="btn btn-default" data-role="Skater">Skater</button>
		      		<button type="button" class="btn btn-default" data-role="Learner">Learner</button>
		      		<button type="button" class="btn btn-default" data-role="Teacher">Teacher</button>
		      		<button type="button" class="btn btn-default" data-role="Spectator">Spectator</button>
  			  	</div><br><br>		      	
			  </div>
		      <div class="modal-footer footer-correction">
		        <button type="button" class="btn btn-primary" data-action="join-jam" data-dismiss="modal">JOIN</button>
		      </div>
		    </div>
		  </div>
		</div>
		<!-- Add spot here modal -->
		<div class="modal fade" id="myModal5" tabindex="-1" role="dialog">
		  <div class="modal-dialog modal-lg" role="document">
		    <div class="modal-content">
		      <div class="modal-header">
		        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span></button>
		        <h4 class="modal-title" id="myModalLabel">Add a new spot!</h4>
		      </div>
		      <div class="modal-body"><br>
		      	<div class="btn-group">
		      		<button type="button" class="btn btn-default" data-action="select-level">Low</button>
		      		<button type="button" class="btn btn-default" data-action="select-level">Medium</button>
		      		<button type="button" class="btn btn-default" data-action="select-level">High</button>
  			  	</div>
		      	<br>
		      	<!--<input type="text" class="form-control input-correction" id="spot-photo" placeholder="Spot's photo (URL)">--><br>
			  </div>
		      <div class="modal-footer footer-correction">
		        <button type="button" class="btn btn-primary" data-action="add-spot-here" data-skater-id="<%= session[:id] %>" data-dismiss="modal">ADD</button>
		      </div>
		    </div>
		  </div>
		</div>
		<!-- New jam modal -->
		<div class="modal fade" id="myModal6" tabindex="-1" role="dialog">
		  <div class="modal-dialog modal-lg" role="document">
		    <div class="modal-content">
		      <div class="modal-header">
		        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span></button>
		        <h4 class="modal-title" id="myModalLabel">New jam</h4>
		      </div>
		      <div class="modal-body">
		      	<input type="text" class="form-control input-correction" id="spot-level" placeholder="Level"><br><br>
		      	<input type="text" class="form-control input-correction" id="spot-photo" placeholder="Photo"><br>
			  </div>
		      <div class="modal-footer footer-correction">
		        <button type="button" class="btn btn-primary" data-action="add-spot-here" data-skater-id="<%= session[:id] %>" data-dismiss="modal">ADD</button>
		      </div>
		    </div>
		  </div>
		</div>
		<div class="container-fluid">
			<header class="primary-header">
				<div class="row">
					<br>
					<a class="logo" href="/">(&nbsp;&nbsp;&nbsp;SKATE&nbsp;&nbsp;OR&nbsp;&nbsp;BYE&nbsp;&nbsp;&nbsp;)</a><br><br>
					<div class="account-nav">
						<% if current_skater %> 
							<span class="label label-info default-font-size"><%= current_skater.email %></span> | 
							<a href="<%= logout_path %>" data-method="delete" rel="nofollow">Log out</a>
						<% else %> 
							<a href="<%= login_path %>">Log in</a> | 
							<a href="<%= signup_path %>">Sign up</a>
						<% end %>
					</div><br><br>
				</div>
			</header>
			<nav class="primary-nav">
				<a class="navigation-elements" href="/spots">SPOTS<br><span class="glyphicon-correction glyphicon glyphicon-globe"></span></a>
				<a class="navigation-elements" href="/jams">MEETINGS<br><span class="glyphicon-correction glyphicon glyphicon-user"></span></a>
				<a class="navigation-elements" href="/challenges">CHALLENGES<br><span class="glyphicon-correction glyphicon glyphicon-menu-hamburger"></span></a>
				<% if current_skater %>
					<a class="spots-action-elements" href="#" data-toggle="modal" data-target="#myModal">CHALLENGE A FRIEND!<br><span class="glyphicon-correction glyphicon glyphicon-send"></span></a>
				<% end %>
			</nav><br>
			<%= yield %>
			<footer class="primary-footer">&copy; 2015 Skate or Bye | Crafted by a padawan skater</footer>
		</div>
		<script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
		<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&signed_in=true&libraries=geometry"></script>
		<%= javascript_include_tag 'application' %>
	</body>
</html>