<!DOCTYPE html>
<html>
	<head>
	  <title>Skate or Bye</title>
	  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
	  <%= stylesheet_link_tag 'application', media: 'all' %>
	  <%= csrf_meta_tags %>
	</head>
	<body>
		<!-- Challenge a friend modal -->
		<div class="modal fade" id="myModal" tabindex="-1" role="dialog">
		  <div class="modal-dialog modal-lg" role="document">
		    <div class="modal-content">
		      <div class="modal-header">
		        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span></button>
		        <h4 class="modal-title" id="myModalLabel">Challenge a friend</h4>
		      </div>
		      <div class="modal-body">
		      	<div class="btn-group challenge-skaters">
  			  	</div><br><br>
		      	<div class="challenge-spots">
  			  	</div><br>
  			  	<div class="challenge-challenge">
  			  		<input type="text" class="form-control input-correction" id="challenge-trick" placeholder="Trick"><br><br>					
  			  	</div>  			  	
			  </div>
		      <div class="modal-footer footer-correction">
		        <button type="button" class="btn btn-primary" data-action="add-challenge" data-challenger-id="<%= session[:id] %>" data-dismiss="modal">CHALLENGE</button>
		      </div>
		    </div>
		  </div>
		</div>
		<!-- Upload your trick modal -->
		<div class="modal fade" id="myModal2" tabindex="-1" role="dialog">
		  <div class="modal-dialog modal-lg" role="document">
		    <div class="modal-content">
		      <div class="modal-header">
		        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span></button>
		        <h4 class="modal-title" id="myModalLabel">Share your trick</h4>
		      </div>
		      <div class="modal-body">
		      	<input type="text" class="form-control input-correction" id="trick-video" placeholder="Awesome video"><br>
			  </div>
		      <div class="modal-footer footer-correction">
		        <button type="button" class="btn btn-primary" data-action="upload-trick" data-skater-id="<%= session[:id] %>" data-dismiss="modal">SHARE</button>
		      </div>
		    </div>
		  </div>
		</div>
		<!-- Upload your attempt modal -->
		<div class="modal fade" id="myModal3" tabindex="-1" role="dialog">
		  <div class="modal-dialog modal-lg" role="document">
		    <div class="modal-content">
		      <div class="modal-header">
		        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span></button>
		        <h4 class="modal-title" id="myModalLabel">Share your attempt</h4>
		      </div>
		      <div class="modal-body">
		      	<input type="text" class="form-control input-correction" id="attempt-video" placeholder="Awesome video"><br>					
			  </div>
		      <div class="modal-footer footer-correction">
		        <button type="button" class="btn btn-primary" data-action="upload-attempt" data-dismiss="modal">SHARE</button>
		      </div>
		    </div>
		  </div>
		</div>
		<!-- Join jam modal -->
		<div class="modal fade" id="myModal4" tabindex="-1" role="dialog">
		  <div class="modal-dialog modal-lg" role="document">
		    <div class="modal-content">
		      <div class="modal-header">
		        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span></button>
		        <h4 class="modal-title" id="myModalLabel">Join jam</h4>
		      </div>
		      <div class="modal-body">
		      	<div class="btn-group challenge-skaters">
		      		<button type="button" class="btn btn-default" data-role="Skater">Skater</button>
		      		<button type="button" class="btn btn-default" data-role="Learner">Learner</button>
		      		<button type="button" class="btn btn-default" data-role="Teacher">Teacher</button>
		      		<button type="button" class="btn btn-default" data-role="Spectator">Spectator</button>
  			  	</div><br><br>		      	
			  </div>
		      <div class="modal-footer footer-correction">
		        <button type="button" class="btn btn-primary" data-action="join-jam" data-dismiss="modal">JOIN</button>
		      </div>
		    </div>
		  </div>
		</div>
		<!-- Sign up modal
		<div class="modal fade" id="myModal3" tabindex="-1" role="dialog">
		  <div class="modal-dialog modal-lg" role="document">
		    <div class="modal-content">
		      <div class="modal-header">
		        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span></button>
		        <h4 class="modal-title" id="myModalLabel">Sign in</h4>
		      </div>
		      <div class="modal-body">
		      	<input type="text" class="form-control input-correction" id="sign-up-nickname" placeholder="Nickname"><br><br>
		      	<input type="text" class="form-control input-correction" id="sign-up-email" placeholder="Email"><br><br>
		      	<input type="text" class="form-control input-correction" id="sign-up-password" placeholder="Password"><br><br>					
			  </div>
		      <div class="modal-footer footer-correction">
		        <button type="button" class="btn btn-primary" data-action="sign-up" data-dismiss="modal">SIGN IN</button>
		      </div>
		    </div>
		  </div>
		</div> -->
		<header>
			<div class="logo"><a href="/">(&nbsp;&nbsp;&nbsp;SKATE&nbsp;&nbsp;OR&nbsp;&nbsp;BYE&nbsp;&nbsp;&nbsp;)</a></div>
			<div class="account-nav">
				<% if current_skater %> 
					<div class="account-actions"><span class="label label-info span-correction"><%= current_skater.email %></span></div> | 
					<div class="account-actions"><%= link_to "Log out", logout_path, method: "delete" %></div>
				<% else %> 
					<div class="account-actions"><%= link_to "Log in", login_path %></div> | 
					<div class="account-actions"><%= link_to "Sign up", signup_path %></div>
					<!-- <div class="account-actions" data-toggle="modal" data-target="#myModal3">Sign up</div> -->
				<% end %>
			</div>
		</header><br>
		<nav>
			<a href="/spots"><div class="navigation-elements">SPOTS</div></a>
			<a href="/jams"><div class="navigation-elements">JAMS</div></a>
			<a href="/challenges"><div class="navigation-elements">CHALLENGES</div></a>
			<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">
  				CHALLENGE A FRIEND
			</button>
			<!--<div data-toggle="modal" data-target="#myModal2" class="navigation-elements">New trick</div></a>-->
			<!--<a href="#" data-toggle="modal" data-target="#myModal2"><div class="navigation-elements">New trick</div></a>-->
		</nav><br>
		<%= yield %><br><br>
		<footer>&copy; 2015 Skate or Bye | Crafted by a padawan skater</footer>
		<script src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
		<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&signed_in=true&libraries=geometry"></script>
		<%= javascript_include_tag 'application' %>
	</body>
</html>