<!DOCTYPE html>
<html>
	<head>
	  <title>SkateTemple</title>
	  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
	  <%= stylesheet_link_tag 'application', media: 'all' %>
	  <%= csrf_meta_tags %>
	  <script src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
	</head>
	<body>
		<header>
			<div class="logo"><a href="/">(&nbsp;&nbsp;SKATE TEMPLE&nbsp;&nbsp;)</a></div>
			<div class="account-nav">
				<% if current_skater %> 
					<div class="account-actions"><%= current_skater.email %></div> 
					<div class="account-actions"><%= link_to "Log out", logout_path, method: "delete" %></div>
				<% else %> 
					<div class="account-actions"><%= link_to "Log in", login_path %></div></li> 
					<div class="account-actions"><%= link_to "Sign up", signup_path %></div>
				<% end %>
			</div>
		</header><br>
		<nav>
			<div class="navigation-elements">Free Skate</div>
			<a href="/challenges"><div class="navigation-elements">Challenges</div></a>
		</nav><br>
		<%= yield %>
		<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&signed_in=true&libraries=geometry"></script>
		<%= javascript_include_tag 'application' %>
	</body>
</html>